@import 'material-colors/dist/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Exo+2');

$font-primary: 'Exo 2';
$page-width: 960px;

$bg-body: $md-blue-grey-900;
$bg-main: $md-blue-grey-800;

$bg-header: $md-blue-grey-800;
$bg-nav: $md-blue-grey-700;
$bg-nav-active: #e8e8e8;//$md-purple-a100;
$bg-nav-selected: $md-blue-grey-900;

$color-primary: #ccc;
$color-primary__active: #fff;
$color-secondary: #9ce;
$text-color: $color_primary;
$color-route: $md-light-text-secondary;
$color-accent: $md-green-a200;
$color-accent-2: #c93; //$md-amber-600;

/*
 *
 */

$color-accent--default: #b5e6f0;
$color-accent--default-darken: darken(#b5e6f0, 10%);

$color-accent--style: #FAD7F9;
$color-accent--style-darken: darken(#FAD7F9, 10%);

$color-accent--color: #d6e3a7;
$color-accent--color-darken: darken(#d6e3a7, 10%);

$bg--default: darken(desaturate($color-accent--default, 40%), 40%);
$bg--style: darken(desaturate($color-accent--style, 65%), 65%);
$bg--color: darken(desaturate($color-accent--color, 35%), 30%);

$min-width: 400px;

@mixin drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@mixin x-center {
  display: flex;
  justify-content: center;
}

@mixin y-center {
  display: flex;
  align-items: center;
}

@mixin center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}